#photocontainer
{
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background: url('Battingcage.JPEG');
}
.gallery
{
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background: url('Battingcage.JPEG');
}
#mainphoto
{
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background: url('Battingcage.JPEG');
}
